# Change connect credentials and rename this file to .env
PORT = PortOfYourServer
DB_SERVER = serverOfYourDB
DB_NAME = serverName
DB_USER = userName
DB_PASSWORD = userPassword
DB_CLUSTER = serverCluster
